#alerts {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#alerts div {
    display: table;
    margin: 10px auto 0 auto;
    padding: 10px;
    color: #222;
    background-color: #F5D76E;
    border: 2px solid #F7CA18;
    border-radius: 5px;
    box-shadow: 0px 20px 50px -15px #000;
}
